Repository OvercastCommunity/CommunityMaps, pull requests merged in 2024-10, with the labels that each got.

#944 Bed Rush: Anubis - Play test updates
  arcade/standard/bed_rush_anubis/map.xml
Labels: map, update

#940 Fall of Babylon - Initial Version
  ctw/standard/fall_of_babylon/level.dat
  ctw/standard/fall_of_babylon/map.png
  ctw/standard/fall_of_babylon/map.xml
  ctw/standard/fall_of_babylon/region/r.-1.-1.mca
  ctw/standard/fall_of_babylon/region/r.-1.0.mca
  ctw/standard/fall_of_babylon/region/r.0.-1.mca
  ctw/standard/fall_of_babylon/region/r.0.0.mca
Labels: map, submission

#951 Fall of Babylon - Play test updates
  ctw/standard/fall_of_babylon/map.xml
Labels: map, hacktoberfest-accepted, update

#950 Rock the Casbah - Protect Spawner TNT
  dtcm/rock_the_casbah/map.xml
Labels: map, hacktoberfest-accepted, update

#954 Fall of Babylon - Play test updates
  ctw/standard/fall_of_babylon/map.xml
Labels: map, hacktoberfest-accepted, update

#957 Expedition: allow breaking some blocks in void
  ctw/expedition/map.xml
Labels: map, hacktoberfest-accepted, update
